{% extends 'base.html' %}
{% block content %}
<div class="content mt-4">
    {% if mb %}
    <h2>{{ mb.brand }} {{ mb.name }}</h2>
    <ul class="list-group">
        <li class="list-group-item">Brand: {{ mb.brand }}</li>
        <li class="list-group-item">Name: {{ mb.name }}</li>
        <li class="list-group-item">Socket: {{ mb.socket }}</li>
        <li class="list-group-item">Number of RAM slot: {{ mb.ram_num }}</li>
        <li class="list-group-item">Max RAM: {{ mb.max_ram }}</li>
        <li class="list-group-item">Have M.2 slot?: {{ mb.m2_slot }}</li>
        <li class="list-group-item">Power: {{ mb.power }}</li>
    </ul>
    {% else %}
        <p>No data found.</p>
    {% endif %}
</div>
{% endblock %}